# Fill in credentails for your environment
# here and then rename file to remove the .sample
DB_HOST: localhost
DB_NAME: quiznerd_development
DB_USER: some_user_name
DB_PASSWORD: some_password
QN_USER: user@something.com
QN_PASSWORD: something 
QN_APP_HOST: http://localhost:3001/
